.box-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 160px;
    height: 200px;
    padding: 5px 0px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #29317a;
    color: #ffff;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.box-card:hover {
    transform: translateY(-7px);
    box-shadow: 1px 0px 11px 1px rgb(124, 123, 123);
}

.nomeSigno {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 6px;
}

.img-signo {
    width: 130psx;
    height: 130px;
    object-fit: contain;
    border-radius: 70px;
    margin-bottom: 6px;
}

.periodoNascimento {
    font-size: 13px;
    font-weight: 500;
}